html {
    min-height: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    /* ---- Change below later ! ---- */
    text-decoration: none;
    color: black;
}

body {
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
}


.navigations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
}

.header {
    background-color: rgba(163, 220, 233, 0.5);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    
    width: 100%;
    box-shadow: 0px 5px 10px 1px rgb(188, 188, 188);
}

.profile-settings {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.side-navigation {
    width: fit-content;
    padding: 3rem;
    /* margin-top: 3vh; */
    background: linear-gradient(0deg, rgba(163, 220, 233,1) 0%, rgba(163, 220, 233,0) 100%);
    text-align: center;
}

.note-categories {
    margin-top: 8rem;
    min-height: fit-content;
}

.note-categories h3 {
    margin-bottom: 2rem;
}

.note-categories .category {
    display: flex;
    justify-content: center;

}


.red {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 87vh;
    background-color: rgba(255, 0, 0, 0.56);
}

.yellow {
    margin-top: 2rem;
 /*    background-color: rgba(243, 243, 69, 0.646); */
}

.green {
    height: 20vh;
    background-color: rgba(101, 243, 69, 0.646);
}

.blue {
    height: 20vh;
    background-color: rgba(52, 103, 232, 0.646);
}

.purple {
    height: 20vh;
    background-color: rgba(183, 14, 202, 0.646);
    margin: 2rem 0;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: rgba(163, 220, 233, 1);
}

