h1 {
  text-align: center;
}

.notesContainer {
  padding: 1rem 5rem;
}

.notesSection {
  padding: 5rem 5rem 1rem 5rem;
  margin: 1rem 2rem;
  border-bottom: 1px solid black;
  width: 80%;
}

.notesTags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.noteTag {
  text-align: center;
  width: 5rem;
  border: 1px solid black;
  padding: 1rem 2rem;
  margin: 2rem 2rem 0 0;
}

.diet {
  background-color: lightgoldenrodyellow;
}

.fitness {
  background-color: lightgreen;
}

.diary {
  background-color: lightcyan;
}

.coding {
  background-color: lightseagreen;
}

.jogging {
  background-color: violet;
}

.inspiration {
  background-color: orange;
}

.learning {
  background-color: darkgoldenrod;
}

@media (max-width: 1024px) {
  .notesContainer,
  .notesSection {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 1rem;
  }
  .notesTags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .notesContainer,
  .notesSection {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 1rem;
  }
  .notesTags {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
